*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}

.wrap {
    border: 5px solid gold;
    border-radius: 7px;
    font-size: 20px;
    padding: 10px;
    background-color: rgb(63, 63, 63);
    margin-left: 10px;
    margin-top: 0px;
    color: white;
}

.box1{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

.box1 img{
    width: 30px;
}

.box2{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.box2 img{
    background-image: url(channels4_banner.jpg);
    background-size: 100%;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: gray;
    padding: auto;
    z-index: 9999;
}

.about p{
    font-size: 20px;
}